* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 100vh;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/* Header */
.navegador {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  height: 50px;
  width: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.navegador__enlace {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  transition: color 0.3s;
}

.navegador__enlace:hover {
  color: #8EFDA0;
  text-decoration: underline;
}

/* fin header */
/* Inicio del index */
.mein {
  background-position: center;
  background-image: url(../imagenes/software-developer-6521720_1920_edited.jpg);
  min-height: 100vh;
}

.titulo {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 50px 25px;
  grid-template-areas: "ere1" "ere2";
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.titulo__principal {
  grid-area: ere1;
  text-align: center;
  width: 350px;
  height: 40px;
  font-weight: 500;
  border-radius: 20px;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.titulo__secundario {
  grid-area: ere2;
  text-align: center;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  margin-top: 10px;
  width: 150px;
  height: 24px;
  border-radius: 20px;
}

/* Final del index */
/* footer */
.final {
  background: linear-gradient(277deg, rgb(75, 108, 183) 0%, rgb(24, 40, 72) 100%);
  box-shadow: 0 0.5px 5px rgb(189, 162, 52);
  text-align: center;
}

.final__derechos {
  color: white;
  font-weight: 100;
}

.final__enlaces {
  text-decoration: none;
  font-weight: 500;
  color: white;
  margin: 70px;
}

/* Final footer */
/* Inicio de perfil */
.contenido {
  min-height: 100vh;
  background: linear-gradient(to bottom, #fde0e0, #f3cda7);
}

.historia__titulo {
  position: relative;
  text-align: center;
  top: 10px;
}

.historia__center {
  position: relative;
  text-align: center;
  top: 30px;
}

.historia__imagen {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.resumen {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
}

.resumen_parrafo {
  width: 600px;
  text-align: center;
}

.informacion {
  margin-top: 90px;
}

.info__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "ede1 ede1 ede1" "ede2 ede3 ede4" "ede5 ede6 ede7";
  gap: 2px;
}

.info__grid--titulo {
  grid-area: ede1;
  text-align: center;
}

.info__grid--hijo1 {
  grid-area: ede2;
  text-align: center;
}

.info__grid--hijo2 {
  grid-area: ede3;
  text-align: center;
}

.info__grid--hijo3 {
  grid-area: ede4;
  text-align: center;
}

.info__grid--hijo4 {
  grid-area: ede5;
  text-align: center;
}

.info__grid--hijo5 {
  grid-area: ede6;
  text-align: center;
}

.info__grid--hijo6 {
  grid-area: ede7;
  text-align: center;
}

/* Final de perfil */
/* Iincio de servicios */
.ser {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
}

.ser__titulo {
  font-size: 30px;
}

.ser__titulo2 {
  font-weight: lighter;
}

.grid {
  margin-top: 13%;
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "ele1 ele2" "ele3 ele4" "ele5 ele6";
  gap: 1rem;
}

.grid__hijo--1 {
  grid-area: ele1;
  text-align: center;
}

.grid__hijo--2 {
  grid-area: ele3;
  text-align: center;
}

.grid__hijo--3 {
  grid-area: ele5;
  text-align: center;
}

.grid__hijo--4 {
  grid-area: ele2;
  text-align: center;
}

.grid__hijo--5 {
  grid-area: ele4;
  text-align: center;
}

.grid__hijo--6 {
  grid-area: ele6;
  text-align: center;
}

.grid__titulo {
  font-weight: 800;
}

.grid__parrafo {
  font-style: italic;
  font-size: 16px;
}

/* Final de servicios */
/* Inicio de habilidades */
.habilidadesTitulo {
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
}

.lista {
  display: flex;
  justify-content: center;
}

.grid2 {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas: "efe1 efe2" "efe3 efe4" "efe5 efe6";
  column-gap: 100px;
  row-gap: 3rem;
}

.grid2__hijo--1 {
  grid-area: efe1;
  text-align: center;
}

.grid2__hijo--2 {
  grid-area: efe3;
  text-align: center;
}

.grid2__hijo--3 {
  grid-area: efe5;
  text-align: center;
}

.grid2__hijo--4 {
  grid-area: efe2;
  text-align: center;
}

.grid2__hijo--5 {
  grid-area: efe4;
  text-align: center;
}

.grid2__hijo--6 {
  grid-area: efe6;
  text-align: center;
}

.proyecto {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyecto__futuro {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border: solid;
  border-color: #37C2EC;
  width: 100%;
  height: 150px;
  text-align: center;
}

/* Final de habilades*/
/* Inicio de contacto */
.formulario {
  width: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido--2 {
  display: flex;
  justify-content: center;
}

/* Final de contacto */
.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.whatsapp__link {
  text-decoration: none;
  color: #45C655;
  font-size: 50px;
}

.icon {
  display: none;
}

/* Media  Querys */
@media screen and (max-width: 1023px) {
  .final__enlaces {
    margin: 40px;
  }

  .icon {
    display: none;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 500px;
    grid-template-areas: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "efe1" "efe2" "efe3" "efe4" "efe5" "efe6";
  }
}
@media screen and (max-width: 600px) {
  .navegador__enlace {
    display: none;
    color: white;
  }

  .titulo__principal {
    font-size: 20px;
    text-align: center;
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  .final__derechos {
    padding-top: 10px;
  }

  .final__enlaces {
    margin: 4%;
  }

  .ser {
    position: relative;
    top: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "ele1" "ele2" "ele3" "ele4" "ele5" "ele6";
    margin-top: 100px;
  }

  .grid__parrafo {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 200px;
    grid-template-areas: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "efe1" "efe2" "efe3" "efe4" "efe5" "efe6";
  }

  .whatsapp {
    position: fixed;
    bottom: 35px;
    right: 15px;
  }

  .whatsapp__link {
    font-size: 30px;
  }

  .icon {
    display: block;
    font-size: 20px;
    color: white;
  }

  .info__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "ede1" "ede2" "ede3" "ede4" "ede5" "ede6" "ede7";
    gap: 2px;
  }
}

/*# sourceMappingURL=estilo.css.map */
