.navegador{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    height: 50px;
    width: 100%;
    margin-bottom: 0;
        
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  

&__enlace{
    @include enlacesComun(500)
}

&__enlace:hover{
    color: #8EFDA0;
    text-decoration:underline;
}

}